name: On push Main

on:
  push:
    branches: [main]

jobs:
  build_csharp:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target-framework: net6.0
          - os: windows-latest
            target-framework: net461
    runs-on: ${{ matrix.os }}
    env:
      TEST_AUTH_TOKEN: ${{ secrets.ALPHA_TEST_AUTH_TOKEN }}
      TEST_CACHE_NAME: client-sdk-dotnet-${{ github.sha }}-${{ matrix.target-framework }}

    steps:
      - name: Get current time
        uses: gerred/actions/current-time@master
        id: current-time

      - name: Setup repo
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.MOMENTO_MACHINE_USER_GITHUB_TOKEN }}

      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "6.0.x"

      - name: Build
        run: dotnet build

      - name: Unit Test
        run: dotnet test -f ${{ matrix.target-framework }} tests/Unit/Momento.Sdk.Tests

      - name: Integration Test
        run: dotnet test -f ${{ matrix.target-framework }} tests/Integration/Momento.Sdk.Tests

      - name: Generate README
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: sdk
          sdk_language: .NET
          template_file: ./README.template.md
          output_file: ./README.md
          dev_docs_slug: go
