name: On push Main

on:
  push:
    branches: [main]

jobs:
  build_csharp:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        grpc-web: [false, true]
    runs-on: ${{ matrix.os }}
    env:
      V1_API_KEY: ${{ secrets.ALPHA_TEST_AUTH_TOKEN }}
      MOMENTO_API_KEY: ${{ secrets.ALPHA_API_KEY_V2 }}
      MOMENTO_ENDPOINT: "cell-alpha-dev.preprod.a.momentohq.com"

    steps:
      - name: Get current time
        uses: gerred/actions/current-time@master
        id: current-time

      - name: Setup repo
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.MOMENTO_MACHINE_USER_GITHUB_TOKEN }}

      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "6.0.x"

      - name: Build
        run: make GRPC_WEB=${{ matrix.grpc-web }} build

      - name: Test
        run: make prod-test

  generate_readme:
    runs-on: ubuntu-latest
    steps:
      - name: Setup repo
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.MOMENTO_MACHINE_USER_GITHUB_TOKEN }}

      - name: Generate README
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: sdk
          sdk_language: .NET
          template_file: ./README.template.md
          output_file: ./README.md
          dev_docs_slug: dotnet
